FNCSalesforce/Connected Services/Digiturno5WS/HostServicioSelector5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Campos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Campos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCampoExterno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampoExterno" nillable="true" type="tns:CampoExterno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampoExterno" nillable="true" type="tns:ArrayOfCampoExterno" />
  <xs:complexType name="CampoExterno">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCampo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDestino" type="tns:GrupoCampo.TipoDestinoCampo" />
      <xs:element minOccurs="0" name="Valido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampoExterno" nillable="true" type="tns:CampoExterno" />
  <xs:simpleType name="GrupoCampo.TipoDestinoCampo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Todos" />
      <xs:enumeration value="Turno" />
      <xs:enumeration value="Cliente" />
      <xs:enumeration value="Servicio" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GrupoCampo.TipoDestinoCampo" nillable="true" type="tns:GrupoCampo.TipoDestinoCampo" />
</xs:schema>