FNCSalesforce/Connected Services/Digiturno5WS/HostServicioSelector3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Agendamiento" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Agendamiento" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cita">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoCita" type="tns:Cita.Estado" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaUltimaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GUIDCita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCita" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="IdCola" type="xs:int" />
      <xs:element minOccurs="0" name="IdTurno" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroTurnoAtencion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cita" nillable="true" type="tns:Cita" />
  <xs:simpleType name="Cita.Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="AGENDADO" />
      <xs:enumeration value="CONFIRMADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Cita.Estado" nillable="true" type="tns:Cita.Estado" />
</xs:schema>