FNCSalesforce/Connected Services/Digiturno5Turno/HostServicioTurno2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Integrador.Enumeracion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Integrador.Enumeracion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EstadoTurno">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NODEFINIDO" />
      <xs:enumeration value="ESPERA" />
      <xs:enumeration value="LLAMANDO" />
      <xs:enumeration value="SUSPENDIDO" />
      <xs:enumeration value="DISTRAIDO" />
      <xs:enumeration value="ATENCION" />
      <xs:enumeration value="CANCELADO" />
      <xs:enumeration value="FINALIZADO" />
      <xs:enumeration value="ABANDONADO" />
      <xs:enumeration value="TRANSFERIDO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoTurno" nillable="true" type="tns:EstadoTurno" />
  <xs:simpleType name="EstadoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DESCONECTADO" />
      <xs:enumeration value="CONECTADO" />
      <xs:enumeration value="DISPONIBLE" />
      <xs:enumeration value="OCUPADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoUsuario" nillable="true" type="tns:EstadoUsuario" />
  <xs:simpleType name="EstadoTurnoKiosco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXITOSO" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="PENDIENTE" />
      <xs:enumeration value="DISTRAIDO" />
      <xs:enumeration value="SINTURNOS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EstadoTurnoKiosco" nillable="true" type="tns:EstadoTurnoKiosco" />
</xs:schema>