FNCSalesforce/Connected Services/Digiturno5Turno/ServicioTurnos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioTurnos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.101.40:8812/HostServicioTurno.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.101.40:8812/HostServicioTurno.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.101.40:8812/HostServicioTurno.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Integrador" />
      <xsd:import schemaLocation="http://192.168.101.40:8812/HostServicioTurno.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Integrador.Enumeracion" />
      <xsd:import schemaLocation="http://192.168.101.40:8812/HostServicioTurno.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades.Integrador.Base" />
      <xsd:import schemaLocation="http://192.168.101.40:8812/HostServicioTurno.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CIEL.DigiturnoMega.Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioTurnos_ActualizarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstado" />
  </wsdl:message>
  <wsdl:message name="IServicioTurnos_ActualizarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTurnos_AsignarTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:AsignarTurno" />
  </wsdl:message>
  <wsdl:message name="IServicioTurnos_AsignarTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsignarTurnoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioTurnos_BalancearTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:BalancearTurno" />
  </wsdl:message>
  <wsdl:message name="IServicioTurnos_BalancearTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:BalancearTurnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioTurnos">
    <wsdl:operation name="ActualizarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTurnos/ActualizarEstado" message="tns:IServicioTurnos_ActualizarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTurnos/ActualizarEstadoResponse" message="tns:IServicioTurnos_ActualizarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsignarTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTurnos/AsignarTurno" message="tns:IServicioTurnos_AsignarTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTurnos/AsignarTurnoResponse" message="tns:IServicioTurnos_AsignarTurno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BalancearTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioTurnos/BalancearTurno" message="tns:IServicioTurnos_BalancearTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioTurnos/BalancearTurnoResponse" message="tns:IServicioTurnos_BalancearTurno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioTurnos" type="tns:IServicioTurnos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActualizarEstado">
      <soap:operation soapAction="http://tempuri.org/IServicioTurnos/ActualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsignarTurno">
      <soap:operation soapAction="http://tempuri.org/IServicioTurnos/AsignarTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BalancearTurno">
      <soap:operation soapAction="http://tempuri.org/IServicioTurnos/BalancearTurno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTurnos">
    <wsdl:port name="BasicHttpBinding_IServicioTurnos" binding="tns:BasicHttpBinding_IServicioTurnos">
      <soap:address location="http://192.168.101.40:8812/HostServicioTurno.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>